<div mat-dialog-title>
    <h1 mat-dialog-title class="ml-3">Search</h1>
    <form id="formcustomersearch" [formGroup]="form">

        <mat-form-field color="primary" appearance="outline" mat-dialog-title class="col-sm-12">
            <mat-label class="purple">Contact</mat-label>
            <input color="primary" matInput formControlName="searchText">
            <button color="primary" mat-button matSuffix mat-icon-button aria-label="Search" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

    </form>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>

<div mat-dialog-content class="mt-3">

    <ng-container *ngFor="let contact of contacts; let i = index">
        <div class="card card-btn border border-0" (click)="select(contact)">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-body">
                        <div class="card-content">
                            <ngx-avatar name="{{ contact.name }}" fgColor="white" [size]="50" [textSizeRatio]="2.5"
                                [round]="true">
                            </ngx-avatar>
                        </div>

                        <div class="card-content pl-4">
                            <h5 class="card-title">{{ contact.name }}</h5>
                            <h6 class="card-text text-muted" *ngIf="contacts[i].phoneNumbers.length > 0">
                                +{{ contact.phoneNumbers[0].dialingCode }}-{{ contact.phoneNumbers[0].phone }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>