.payment-view-modal {
  width: 60%;
  min-height: 630px;
}

.long-width {
  max-width: 5000px;
  margin-left: 30%;
}

.invoice-headers {
  font-size: 18px;
  color: rgb(100, 100, 245);
}

.row {
  margin-left: 5%;
}

.price-label {
  font-size: 40px;
  font-weight: bold;
  color: rebeccapurple;
}
