.ml-17 {
  margin-left: 17%;
}

.mt-65 {
  margin-top: -65px;
}

.header-label {
  margin-left: 37%;
  margin-bottom: 25px;
}

.payment-receipt-div {
  padding-top: 20px;
  padding-left: 4%;
  width: 15%;
}

.p-3 {
  padding: 2rem !important;
}

.voided {
  background-color: rgb(187, 187, 187);
  color: white;
  padding: 5px;
}
