<div class="main-content">
    <div class="content-toolbar">
        <button mat-button color="primary" (click)="return()">
            <mat-icon aria-hidden="false" aria-label="keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>New
            Service Fee
        </button>
        <button mat-button color="primary" class="float-right ml-1" [disabled]="saveStatus" (click)="prepareSave()">
            Save
        </button>
    </div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
<form class="mt-4" *ngIf="model" [formGroup]="form">

    <mat-slide-toggle class="ml-3" color="primary" (change)="setAutoGenerate($event.checked)">
        Auto Generate
    </mat-slide-toggle><br><br>

    <mat-form-field appearance="outline" class="col-sm-6">
        <mat-label>Service Fee Name</mat-label>
        <input matInput formControlName="name" required placeholder="e.g Prep > Quarter 4 > Registration Fee... " />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-sm-6">
        <mat-label>Search Service</mat-label>
        <input type="text" placeholder="Service" matInput [formControl]="serviceName" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let s of servicesList" [value]="s.name">
                {{s.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="serviceName!.invalid">Service doesn't exist</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-sm-6">
        <mat-label>Search Customer Group</mat-label>
        <input type="text" placeholder="Customer group" matInput [formControl]="customerGroupName"
            [matAutocomplete]="cgroup">
        <mat-autocomplete #cgroup="matAutocomplete">
            <mat-option *ngFor="let cg of customerGroupList" [value]="cg.name">
                {{cg.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="customerGroupName!.invalid">Customer Group doesn't exist</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-sm-6">
        <mat-label>Search Payment Cycle</mat-label>
        <input type="text" placeholder="Payment Cycle" matInput [formControl]="paymentCycleName"
            [matAutocomplete]="pcycle">
        <mat-autocomplete #pcycle="matAutocomplete">
            <mat-option *ngFor="let pc of paymentCycles" [value]="pc.name">
                {{pc.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="paymentCycleName!.invalid">Payment cycle doesn't exist</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-sm-6">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount" required placeholder="e.g 1500" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-sm-6">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{currency}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-sm-12">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="A brief description of the Service Fee."
            formControlName="description"></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="taxInclusive" class="ml-3" checked="{{model.taxInclusive}}" color="primary"
        (change)="setStatus($event.checked)">
        {{message}}
    </mat-slide-toggle>

    <table mat-table matSort *ngIf="taxesList" [dataSource]="dataSource" class="mat-elevation-z8 w-100 mt-5">

        <ng-container matColumnDef="checked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [value]="element" (change)="onCheckChange($event, element)" color="primary">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="percentValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
            <td mat-cell *matCellDef="let element"> {{ element.percentValue }}% </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</form>