.mleft {
    margin-left: 10%;
}

.mright {
    margin-right: 10%;
}

#formcustomersearchpage.select-white::ng-deep.mat-select-value {
    color: black;
  }
  ::ng-deep.mat-select-value {
    color: black;
  }
  
  ::ng-deep.mat-select-arrow {
    color: black;
  }
