<!-- <div class="text-center p-3">

    <p class="lead">Invoice &bull; Pay &bull; Doceipt</p>

    <img class="col-md-4 mx-auto d-block"
        src="assets/images/kissclipart-team-worker-icon-clipart-computer-icons-teamwork-c.png">

    <button class="btn btn-primary mt-5" (click)="login()">Let's get started</button>

</div> -->

<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="humburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a (click)="signout()">Sign out</a></li>
                    <li><a routerLink="/protected">Protected View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header class="showcase">
    <div class="mask showcase-inner">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus facere repellat autem neque suscipit voluptas minus itaque maiores culpa, inventore assumenda expedita, aut optio mollitia eaque! Necessitatibus modi non consectetur.
        </p>
        <a class="btn" (click)="login()">Let's Get Started</a>
    </div>
</header>