#formcustomersearch::ng-deep.mat-select-value {
  color: purple;
}

#formcustomersearch::ng-deep.mat-select-arrow {
  color: purple;
}

#formcustomersearch::ng-deep.mat-form-field-underline {
  background-color: purple !important;
}

#formcustomersearch::ng-deep.mat-form-field-ripple {
  background-color: purple !important;
}

#formcustomersearch::placeholder {
    font-size: 14px;
}

.purple {
    color: purple;
}
